.table-container{
    width: auto;
    height: 300px;
    overflow-y: auto;
    overflow-x: auto;
  }

  .table{
    width: auto;
    min-width: 100%;
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
  }
  
  .table thead tr th{
    background-color: rgb(0, 89, 161);
    color: white;
    text-align: left;
  }

  .table th,
  .table td{
    padding: 8px;
    border: 1px solid #ddd;
  }

  
 



